@model IdentityServer.Controllers.AccountController.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login">

    <div asp-validation-summary="ModelOnly"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Вход" />
    </div>
</form>